django>=3.2
djangorestframework
django-cors-headers
pyjwt
bcrypt
boto3
google-api-python-client
google-auth
google-cloud-storage
google-cloud-compute
google-cloud-bigquery
google-cloud-resource-manager
google-cloud-logging
google-cloud-dataproc
openpyxl
reportlab
python-dotenv
apscheduler
requests
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
gunicorn>=21.2.0
whitenoise>=6.6.0
